<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <h1 class="text-center mt-5 mb-5">Gestión de Usuarios</h1>
    </div>

    <!-- Botón de Volver -->
    <div class="container mb-3">
        <a href="{{ url_for('home') }}" class="btn btn-secondary">Volver al Inicio</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Añadir Usuario</h5>
                    </div>
                    <div class="card-body">
                        <form action="/add_usuario" method="POST">
                            <label>Nombre</label>
                            <input type="text" class="form-control mb-3" name="nombre">
                            <label>Correo</label>
                            <input type="email" class="form-control mb-3" name="correo">
                            <label>Celular</label>
                            <input type="text" class="form-control mb-3" name="celular">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Lista de Usuarios</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for usuario in usuarios %}
                                <li class="list-group-item mb-3">
                                    <form action="/edit_usuario/{{usuario.nombre}}" method="POST">
                                        <input type="text" class="form-control" value="{{usuario.nombre}}" name="nombre">
                                        <label>Correo</label>
                                        <input type="email" class="form-control" value="{{usuario.correo}}" name="correo">
                                        <label>Celular</label>
                                        <input type="text" class="form-control" value="{{usuario.celular}}" name="celular">
                                        <button class="btn btn-primary btn-sm mt-3" type="submit">Editar</button>
                                        <a href="{{url_for('delete_usuario', nombre=usuario.nombre)}}" class="btn btn-danger btn-sm mt-3">Eliminar</a>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>